<div class="bg-blue-600 flex flex-col justify-center h-16">
  <div class="flex justify-between">
    <div class="flex-start mx-3 mt-3 text-white"><h1>Splitting window for demo. ( by Wonsup Jung ) </h1></div>
    <div class="flex-end mx-3 mt-2">
      <div class="tool-bar">
        <ng-container>
          <button mat-icon-button [matMenuTriggerFor]="menu3" aria-label="split" id="icon_split"
                  class="tools-btn expanded-menu" [ngClass]="isAriaExpandedForCaret('icon_split')">
            <img src="{{isAriaExpanded('icon_split')}}" title="Split Window" alt="Split Window"
                 class="tools-icon-button">
            <i class="fa fa-caret-down fa-xs caret-down dropdown"></i>
          </button>
          <mat-menu #menu3="matMenu">
            <button mat-menu-item (click)="onClickWindowSplit(1)">
              <div class="split_menu">
                <!-- <img src="assets/button-icons/menu/iloveimg-resized/block.svg" alt="1" class="window_layout"> -->
                <img src="assets/split_window_icon/icon_one.svg" alt="1" class="window_layout">
                <span class="layout">1</span>
              </div>
            </button>
            <button mat-menu-item (click)="onClickWindowSplit(2)">
              <div class="split_menu">
                <img src="assets/split_window_icon/icon_two.svg" alt="1 X 1" class="window_layout">
                <span class="layout">1 x 1</span>
              </div>
            </button>
            <button mat-menu-item (click)="onClickWindowSplit(3)">
              <div class="split_menu">
                <!-- <img src="assets/button-icons/menu/one_by_two.svg" alt="1 X 2" class="window_layout"> -->
                <img src="assets/split_window_icon/icon_three.svg" alt="1 X 2" class="window_layout">
                <span class="layout">1 x 2</span>
              </div>
            </button>
            <button mat-menu-item (click)="onClickWindowSplit(4)" class="split_menu">
              <div class="split_menu">
                <img src="assets/split_window_icon/icon_four.svg" alt="2 X 2" class="window_layout">
                <span class="layout">2 x 2</span>
              </div>
            </button>
          </mat-menu>
        </ng-container>
      </div>
    </div>
  </div>

</div>

<div class="w-screen mt-1">
  <div class="grid grid-cols-5 gap-3">
    <div class="h-24 col-span-1 bg-red-100">
      <app-series-list></app-series-list>
    </div>
    <div class="h-24 col-span-4">
      <app-thumbnail-list></app-thumbnail-list>
    </div>
  </div>
  <div class="h-auto ">
    <app-carousel-main [queryUrl]="queryUrl"></app-carousel-main>
    <!--    <app-grid></app-grid>-->
  </div>

</div>
<!--<router-outlet></router-outlet>-->
